strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.artigo + .artigo {
    padding-top: 1.5em;
    margin-top: 1em;
    background-position: top center;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-image:  linear-gradient(to right,
        transparent,
        rgba(200, 200, 200, 1),
        transparent);
}

.leia-mais {
    padding: .5em;
    margin: 1em;
    display: block;
    font-size: 1.5em;
    text-align: center;
    background-color: #E6E7E8;
}

