.container-figuras {
    width: 60%;
    padding-left: 5em;
}

.lista-figuras {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.lista-figuras img {
    width: 100%;
    box-shadow: 0 0 4px #000;
}

.lista-figuras li {
    border: 8px solid black;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 16px;
    width: 45%;
    box-sizing: border-box;
    flex: 1 1 45%;
}

.container-figuras li~li {}

.lista-figuras li:first-child {
    flex: 2;
    flex-basis: 100%;
}

body {
    background-color: #FAFFFC;
}

h3 {
    padding-top: 50px;
    padding-bottom: 10px;
}
