.container-figuras {
    margin: auto;
}

.container-figuras img {
    width: 100%;
}

.container-figuras li {
    display: inline-block;
    border: 8px solid black;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 16px;
    width: 45%;
    box-sizing: border-box;
}

body {
    background-color: #FAFFFC;
}

h3 {
/*    padding-left: 100px;*/
    padding-top: 50px;
    padding-bottom: 10px;
}

